<nav class="navbar navbar-expand-lg dashboard-navbar">
    <a class="navbar-brand logo" href="#">
        <img src="../../assets/images/iifl-logo.svg" alt="Logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex flex-column menu-wrapper">
            <ul class="navbar-nav first-menu">
                <li class="nav-item text-capitalize dropdown ourb-dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Businesses 
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Dropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="../../assets/images/iiflword-logo.svg" alt="iifl"/>
                                <p class="subtitle">The financial conglomerate</p>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="../../assets/images/iiflfinance-logo.svg" alt="iifl finance"/>
                                <p class="subtitle">Low Interest Loans</p>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="../../assets/images/iiflsecurities-logo.svg" alt="iifl securities"/>
                                <p class="subtitle">Trade and Invest</p>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="../../assets/images/iiflwealth-logo.svg" alt="iifl wealth"/>
                                <p class="subtitle">Manage your Wealth</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item text-capitalize"><a  class="nav-link" href="#">About Us</a></li>
                <li class="nav-item text-capitalize"><a  class="nav-link" href="#">Careers</a></li>
                <li class="nav-item text-capitalize dropdown reachus-dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" id="Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reach Us 
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="Dropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/map-con.svg" alt="map"/>
                                    </div>
                                    <p class="subtitle">Locate Us</p>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/request-icon.svg" alt="request"/>
                                    </div>
                                    <p class="subtitle">Raise a request</p>
                                </div>
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/contactus-icon.svg" alt="contactus"/>
                                    </div>
                                    <p class="subtitle">Contact us</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav second-menu">
                <li class="nav-item text-capitalize active"><a  class="nav-link" href="#">Personal Loan</a></li>
                <li class="nav-item text-capitalize">
                    <a  class="nav-link" href="#">Gold Loan
                        <img class="down-arrow" src="../../assets/images/icons/dropdown.png" alt="arrow">
                    </a>
                </li>
                <li class="nav-item text-capitalize">
                    <a  class="nav-link" href="#">business Loan
                        <img class="down-arrow" src="../../assets/images/icons/dropdown.png" alt="arrow">
                    </a>
                </li>
                <li class="nav-item text-capitalize">
                    <a  class="nav-link" href="#">Loan Against Shares
                        <img class="down-arrow" src="../../assets/images/icons/dropdown.png" alt="arrow">
                    </a>
                </li>
                <li class="nav-item text-capitalize dropdown second-menu__dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" id="Dropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Home Loan
                    </a>
                    <ul class="dropdown-menu flex-wrap" aria-labelledby="Dropdown1">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/pmayojana-icon.png" alt="PM yojgna"/>
                                    </div>
                                    <div class="para-disc">
                                        <p class="title">Pradhan Mantri Awas Yojana</p>
                                        <p class="subtitle">Government aided loans</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/SHloan-icon.png" alt="SHL"/>
                                    </div>
                                    <div class="para-disc">
                                        <p class="title">Swaraj Home Loan</p>
                                        <p class="subtitle">Loans without income documentation</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/NHloan-icon.png" alt="NHL"/>
                                    </div>
                                    <div class="para-disc">
                                        <p class="title">New Home Loan</p>
                                        <p class="subtitle">Loans made quick and simple</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/HIloan.png" alt="HIL"/>
                                    </div>
                                    <div class="para-disc">
                                        <p class="title">Home Improvement Loan</p>
                                        <p class="subtitle">Loans for repair and renovations</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/NRIhomeloan-icon.png" alt="NRI"/>
                                    </div>
                                    <div class="para-disc">
                                        <p class="title">NRI Home Loan</p>
                                        <p class="subtitle">Own a home in India from abroad</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/balanceTransfer-icon.png" alt="balanceTransfer-icon"/>
                                    </div>
                                    <div class="para-disc">
                                        <p class="title">Balance Transfer</p>
                                        <p class="subtitle">Paying too much interest? Transfer your loan to us</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex flex-nowrap align-items-start">
                                    <div class="logo d-flex justify-content-center align-items-center me-3">
                                        <img src="../../assets/images/icons/loanAgainst-icon.png" alt="loanAgainst-icon"/>
                                    </div>
                                    <div class="para-disc">
                                        <p class="title">Loan Against Property</p>
                                        <p class="subtitle">convert moveable and immoveable property into cash</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item text-capitalize"><a  class="nav-link" href="#"><img src="../../assets/images/icons/search-icon.svg" alt="search icon"></a></li>
                <li class="nav-item text-capitalize">
                    <button class="text-uppercase primary-btn signin-btn">
                        <img class="me-3" src="../../assets/images/icons/signin-icon.svg" alt="sign in">Sign in
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>