<footer>
    <app-quicklink-section></app-quicklink-section>
    <div class="footer-content__wrapper">
        <div class="content custom-container">
            <div class="d-flex justify-content-between">
                <div class="content__left">
                    <app-footer-links></app-footer-links>
                </div>
                <div class="content__right">
                    <app-newsletter-sec></app-newsletter-sec>
                    <div class="contactus-wrapper">
                        <app-contactus-sec></app-contactus-sec>
                    </div>
                </div>
            </div>
        </div>
        <div class="content__bottom">
            <div class="d-flex justify-content-between custom-container">
                <div class="d-flex links">
                    <a href="#">Privacy</a>   
                    <a href="#">Policy</a>
                    <a href="#">Disclaimer</a>
                    <a href="#">Sitemap</a>
                </div>
                <p>Copyright © 2019 IIFL Holdings Limited. All rights Reserved.</p>
                <p>Designed by ScreenRoot Technologies</p>
            </div>
        </div>
    </div>
</footer>