@import "../../assets/scss/helpers/_helper-dir";

.footer-link{
    justify-content: space-between;
    gap: 15px;
    border-right: 1px solid rgba(196, 196, 196, 0.1);
    padding: 57px 25px 0 0;
    .anchor-list__wrapper{
        .heading{
            color: $footer-text;
        }
        .anchor-list{
            margin-top: 30px;
            list-style: none;
            padding-left: 0;
            li{
                margin-bottom: 6px;
                &:last-child{
                    margin-bottom: 0;
                }
                &:hover{
                    .nav-link{
                        color: $footer-text;
                    }
                }
                .nav-link{
                    font-size: 1.4rem;
                    line-height: 2.2rem;
                    font-weight: normal;
                    color: $footer-grey;
                }
            }
        }
    }
}