<div class="footer-link d-flex">
    <div class="anchor-list__wrapper">
        <h6 class="heading text-uppercase">EasY Access</h6>
        <ul class="anchor-list">
            <li><a class="nav-link" href="#">Sign in</a></li>
            <li><a class="nav-link" href="#">Calculators</a></li>
            <li><a class="nav-link" href="#">About Us</a></li>
            <li><a class="nav-link" href="#">CSR</a></li>
            <li><a class="nav-link" href="#">Careers</a></li>
            <li><a class="nav-link" href="#">Partners</a></li>
            <li><a class="nav-link" href="#">Investors</a></li>
            <li><a class="nav-link" href="#">Blogs</a></li>
        </ul>
    </div>
    <div class="anchor-list__wrapper">
        <h6 class="heading text-uppercase">Securities </h6>
        <ul class="anchor-list">
            <li><a class="nav-link" href="#">Mutual Funds</a></li>
            <li><a class="nav-link" href="#">Equity</a></li>
            <li><a class="nav-link" href="#">Demat Account</a></li>
            <li><a class="nav-link" href="#">Futures and Options</a></li>
            <li><a class="nav-link" href="#">Commodity</a></li>
            <li><a class="nav-link" href="#">Currency</a></li>
            <li><a class="nav-link" href="#">Insurance</a></li>
            <li><a class="nav-link" href="#">IPO</a></li>
            <li><a class="nav-link" href="#">Alternate Investment Fund</a></li>
            <li><a class="nav-link" href="#">Trading Platforms</a></li>
            <li><a class="nav-link" href="#">NRI Services</a></li>
            <li><a class="nav-link" href="#">Investment Banking</a></li>
        </ul>
    </div>
    <div class="anchor-list__wrapper">
        <h6 class="heading text-uppercase">Finance</h6>
        <ul class="anchor-list">
            <li><a class="nav-link" href="#">Home Loans</a></li>
            <li><a class="nav-link" href="#">Gold Loans</a></li>
            <li><a class="nav-link" href="#">Personal Loans</a></li>
            <li><a class="nav-link" href="#">Business Loans</a></li>
            <li><a class="nav-link" href="#">Loan Against Securities</a></li>
        </ul>
    </div>
    <div class="anchor-list__wrapper">
        <h6 class="heading text-uppercase">Wealth</h6>
        <ul class="anchor-list">
            <li><a class="nav-link" href="#">Asset Management</a></li>
            <li><a class="nav-link" href="#">Wealth Management</a></li>
            <li><a class="nav-link" href="#">Realty</a></li>
        </ul>
    </div>
    <div class="anchor-list__wrapper">
        <h6 class="heading text-uppercase">Need Help?</h6>
        <ul class="anchor-list">
            <li><a class="nav-link" href="#">Locate Us</a></li>
            <li><a class="nav-link" href="#">FAQs</a></li>
            <li><a class="nav-link" href="#">Support</a></li>
        </ul>
    </div>
</div>