html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $primary-black;
}

.container-fluid {
  background: #FFFFFF;
  height: 100vh;
}
.custom-container{
  max-width: 1220px;
  margin: 0 auto;
  @include breakpoint(custom-desktop){
    padding: 0 20px;
  }
}

.title {
  margin-bottom: 8px;
}

.main-content {
  overflow-y: auto;
}
