@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-bold/Roboto-Bold.eot');
    src: url('../../fonts/roboto-bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto-bold/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/roboto-bold/Roboto-Bold.woff') format('woff'),
        url('../../fonts/roboto-bold/Roboto-Bold.ttf') format('truetype'),
        url('../../fonts/roboto-bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-light-300/Roboto-Light.eot');
    src: url('../../fonts/roboto-light-300/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto-light-300/Roboto-Light.woff2') format('woff2'),
        url('../../fonts/roboto-light-300/Roboto-Light.woff') format('woff'),
        url('../../fonts/roboto-light-300/Roboto-Light.ttf') format('truetype'),
        url('../../fonts/roboto-light-300/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-medium/Roboto-Medium.eot');
    src: url('../../fonts/roboto-medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto-medium/Roboto-Medium.woff2') format('woff2'),
        url('../../fonts/roboto-medium/Roboto-Medium.woff') format('woff'),
        url('../../fonts/roboto-medium/Roboto-Medium.ttf') format('truetype'),
        url('../../fonts/roboto-medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-regular/Roboto-Regular.eot');
    src: url('../../fonts/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto-regular/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/roboto-regular/Roboto-Regular.woff') format('woff'),
        url('../../fonts/roboto-regular/Roboto-Regular.ttf') format('truetype'),
        url('../../fonts/roboto-regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-black/Roboto-Black.eot');
    src: url('../../fonts/roboto-black/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto-black/Roboto-Black.woff2') format('woff2'),
        url('../../fonts/roboto-black/Roboto-Black.woff') format('woff'),
        url('../../fonts/roboto-black/Roboto-Black.ttf') format('truetype'),
        url('../../fonts/roboto-black/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



/* Heading */
h1{
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 6.05rem;
}
h2{
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 6.05rem;
}
h3{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.2rem;
}
h4{
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 3.047rem;
}
h5{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
}
h6{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.133rem;
}
p{
    margin-bottom: 0;
}
.hash-tags{
    p{
        color: $light-orange;
    }
}

