<section class="mobileapp-wrapper">
    <div class="custom-container mobileapp-wrapper__content">
        <h6 class="text-uppercase mb-0">Access your loan account on-the-go</h6>
        <h2 class="heading"><span>IIFL Loans</span> Mobile App</h2>

        <div class="btn-group">
            <a class="d-flex align-items-end btn">
                <img class="me-2" src="../../assets/images/icons/googlestore-icon.svg" alt="play store"/>
                <div class="text-start">
                    <span>Available on the</span>
                    <p>App Store</p>
                </div>
            </a>
            <a class="d-flex align-items-end btn">
                <img class="me-2" src="../../assets/images/icons/iosstore-icon.svg" alt="ios"/>
                <div class="text-start">
                    <span class="text-uppercase">Android app on</span>
                    <p>Google Play</p>
                </div>
            </a>
        </div>
        <div class="mobile-carousel">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-touch="true" data-bs-ride="carousel">
                <ul class="carousel-indicators">
                    
                        <li class="carousel-indicators__btn active" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1">
                            <p class="carousel-indicators__name text-capitalize">Account Summary</p>
                        </li>
                        
                    
                        <li class="carousel-indicators__btn" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 1">
                            <p class="carousel-indicators__name text-capitalize">Make EMI payment</p>
                        </li>
                    
                        <li class="carousel-indicators__btn" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 2">
                            <p class="carousel-indicators__name text-capitalize">Complete A/c Statement</p>
                        </li>
                    
                        <li class="carousel-indicators__btn" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3">
                            <p class="carousel-indicators__name text-capitalize">Get Your CIBIL Score</p>
                        </li>
                    
                        <li class="carousel-indicators__btn" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 4">
                            <p class="carousel-indicators__name text-capitalize">Submit A Query</p>
                        </li>
                    
                </ul>
                <div class="carousel-inner h-100">
                    <div class="carousel-item  active h-100">
                        <img src="../../assets/images/mobileapp-slider/App_screens.svg" alt=""/>
                    </div>
                    <div class="carousel-item  h-100">
                        <img src="../../assets/images/mobileapp-slider/App_screens.svg" alt=""/>
                    </div>
                    <div class="carousel-item  h-100">
                        <img src="../../assets/images/mobileapp-slider/App_screens.svg" alt=""/>
                    </div>
                    <div class="carousel-item  h-100">
                        <img src="../../assets/images/mobileapp-slider/App_screens.svg" alt=""/>
                    </div>
                    <div class="carousel-item  h-100">
                        <img src="../../assets/images/mobileapp-slider/App_screens.svg" alt=""/>
                    </div>
            
                </div>
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> -->
            </div>
        </div>
    </div>
</section>