<div class="offer-overlay">
    <div class="d-flex justify-content-between">
        <h6 class="text-uppercase mb-0">Apply for</h6>
        <select name="loan" id="loan" class="select-field">
            <option value="select">Select Loan</option>
            <option value="home">Home</option>
            <option value="home">Personal</option>
            <option value="home">Business</option>
        </select>
    </div>

    <form action="#" class="offer-overlay__form">
        <input class="text-capitalize" type="text" placeholder="Full Name"/>
        <input type="text" placeholder="Mobile No."/>
        <input type="text" placeholder="Location"/>
        <div class="mx-auto text-center">
            <button class="text-uppercase" type="submit">Apply Now</button>
        </div>
    </form>
</div>