<section class="offering-wrapper">
    <div class="offering-wrapper__content">
        <h2 class="com-title custom-container text-capitalize"><span>Our</span> Offerings</h2>
        
        <div class="slider-wrapper d-flex">
            <div class="offerloan-card">
                <h6 class="text-uppercase mb-3">Build your dreams</h6>
                <h3 class="text-capitalize">Home Loans Upto 85%</h3>
                <!-- arrow image -->
                <img class="arrow-img" src="../../assets/images/icons/serachArrow-icon.svg" alt="icon"/>
                
                <div class="offerloan-card__img">
                    <img src="../../assets/images/homeloan-bg.svg" alt="home"/>
                </div>
            </div>

            <div class="offerloan-card">
                <h6 class="text-uppercase mb-3">Business loans</h6>
                <h3 class="text-capitalize">₹50 lakhs Credit facility</h3>
                <!-- arrow image -->
                <img class="arrow-img" src="../../assets/images/icons/serachArrow-icon.svg" alt="icon"/>
                
                <div class="offerloan-card__img">
                    <img src="../../assets/images/smeloancrad-bg.svg" alt="SME"/>
                </div>
            </div>

            <div class="offerloan-card">
                <h6 class="text-uppercase mb-3">Personal Funds</h6>
                <h3 class="text-capitalize">Personal Loans</h3>
                <!-- arrow image -->
                <img class="arrow-img" src="../../assets/images/icons/serachArrow-icon.svg" alt="icon"/>
                
                <div class="offerloan-card__img">
                    <img src="../../assets/images/personalfunds-bg.svg" alt="personal funds"/>
                </div>
            </div>
        </div>
    </div>
</section>