@import "../../assets/scss/helpers/_helper-dir";

.offering-wrapper{
    width: 100%;
    padding: 70px 0;
    background: $bg-light-white;
    &__content{

        .slider-wrapper{
            margin-left: 102px;
            margin-top: 48px;
            gap: 32px;
        }
        .offerloan-card{
            min-width: 280px;
            height: auto;
            background: #FFFFFF;
            border-radius: 2px;
            box-shadow: $card-shadow;
            padding: 44px 32px 140px;
            cursor: pointer;
            position: relative;

            h6{
                color: $orange;
            }
            h3{
                width: 190px;
            }
            .arrow-img{
                margin-top: 10px;
            }
            &__img{
                position: absolute;
                bottom: 0;
                &.personalfund-img{
                    bottom: 0;
                    right: 0;
                }
            }

            .overlay{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                transform: scale(0);
                transition: 0.5s ease;
            }
            &:hover{
                .overlay{
                    transform: scale(1);
                }
            }
        }
    }
}