.carousel{
    height: 496px;
    .plans-wrapper{
        position: absolute;
        top: 228px;
        right: 30px;
        flex-direction: column;
        z-index: 1;
        .plans{
            width: 67.68px;
            height: 67.68px;
            border-radius: 100%;
            background: #FFFFFF;
        }
    }
    .carousel-inner{
        .carousel-item{
            &.first-slide{
                background-image: url('../../assets/images/banner-img/banner1.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                padding-top: 95px;
                position: relative;
                
            }
            .content{
                width: 490px;
                .title{
                    font-weight: 900;
                    font-size: 6rem;
                    line-height: 6rem;
                    color: #FFFFFF;
                    width: 450px;
                }
                .subtitle{
                    color: #FFFFFF;
                    font-weight: 300;
                }
            }
        }
    }
    .carousel-indicators{
        left: 7.5%;
        right: auto;
        margin-left: 0;
        bottom: 65px;
        height: 0;
        border-radius: 100%;
        button{
            width: 5px;
            height: 5px;
            padding: 0px;
            background: #FFFFFF;
            border-radius: 100%;
            border-top: 0px solid transparent !important;
            border-bottom: 0px solid transparent !important;
        }
    }
}