<div id="carouselExampleControls" class="carousel slide position-relative" data-bs-ride="carousel">
    <div class="carousel-inner h-100">
        <div class="carousel-item first-slide active h-100">
            <div class="custom-container">
                <div class="content h-100">
                    <p class="title text-capitalize">Fulfilling financial needs</p>
                    <h2 class="subtitle">of over 3.5 million people</h2>
                    <button class="text-uppercase primary-btn common-btn mt-4">EXPLORE PRODUCTS</button>
                </div>
            </div>
        </div>
        <div class="carousel-item first-slide h-100">
            <div class="custom-container">
                <div class="content h-100">
                    <p class="title text-capitalize">Fulfilling financial needs</p>
                    <h2 class="subtitle">of over 3.5 million people</h2>
                    <button class="text-uppercase primary-btn common-btn mt-4">EXPLORE PRODUCTS</button>
                </div>
            </div>
        </div>
        <div class="carousel-item first-slide h-100">
            <div class="custom-container">
                <div class="content h-100">
                    <p class="title text-capitalize">Fulfilling financial needs</p>
                    <h2 class="subtitle">of over 3.5 million people</h2>
                    <button class="text-uppercase primary-btn common-btn mt-4">EXPLORE PRODUCTS</button>
                </div>
            </div>
        </div>
        <div class="carousel-item first-slide h-100">
            <div class="custom-container">
                <div class="content h-100">
                    <p class="title text-capitalize">Fulfilling financial needs</p>
                    <h2 class="subtitle">of over 3.5 million people</h2>
                    <button class="text-uppercase primary-btn common-btn mt-4">EXPLORE PRODUCTS</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex plans-wrapper">
        <div class="d-flex justify-content-center align-items-center plans">
            <img src="../../assets/images/icons/pmayojana-icon.png" alt="PM Yojana"/>
        </div>
        <div class="d-flex justify-content-center align-items-center plans mt-3">
            <img src="../../assets/images/icons/balanceTransfer-icon.png" alt="Balance transfer"/>
        </div>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
    </div>
</div>