<div class="quicklink-wrapper">
    <div class="quicklink-content custom-container d-flex">
        <h6>
            Quick Links 
            <img class="ms-2" src="../../assets/images/icons/greaterthan-icon.svg" alt="greaterthan"/>
        </h6>
        <div class="d-flex links">
            <a href="#">Personal Loan</a>   
            <a href="#">Home Loan</a>
            <a href="#">Business Loan</a>
            <a href="#">Fixed Deposit</a>
            <a href="#">Doctor Loan</a>
            <a href="#">Engineer Loan</a>
            <a href="#">Chartered Accountant</a>
            <a href="#">LoanCredit</a>
            <a href="#">Card Loan</a>
        </div>
    </div>
</div>