<div class="customer-sec">
    <div class="customer-sec__content custom-container">
        <h2 class="title text-center"><span>3.5 Million</span>Happy customers</h2>
        <div class="carousel-wrapper">
            <div class="outer-ring d-flex justify-content-center align-items-center">
                <div class="inner-ring"></div>
            </div>
            <div class="custom-slider owl-carousel slide_1 owl-theme">
                <div class="slide slide-1">
                    <div>
                        <img src="../../assets/images/profile-pics/raghava-profilepic.svg" alt="raghava"/>
                    </div>
                    <p class="intro">
                        I am Mr. Raghava Reddy. I really enjoyed taking service with IIFL 
                        Home Loans Team and feel truly honoured to be associated with 
                        IIFL Home Loans Team. I am looking forward to refer IIFL to 
                        my friends and family.
                    </p>
                    <h6 class="name-text">Raghava reddy</h6>
                    <p class="designation-text">Manager at IBM</p>
                </div>
                <div class="slide slide-1">
                    <p>Slider 2</p>        
                </div>
                <div class="slide slide-1">
                    <p>Slider 3</p> 
                </div>
            </div>
        </div>
    </div>
</div>