<div class="customer-sec">
    <div class="customer-sec__content custom-container">
        <h2 class="title text-center"><span>3.5 Million</span>Happy customers</h2>
        <div class="carousel-wrapper">
            <div class="outer-ring d-flex justify-content-center align-items-center">
                <div class="inner-ring"></div>
            </div>
            <div class="owl-carousel custom-slider owl-theme">
                <div class="slide slide-1">
                    <div>
                        <img src="../../assets/images/profile-pics/raghava-profilepic.svg" alt="raghava"/>
                    </div>
                    <p class="intro">
                        I am Mr. Raghava Reddy. I really enjoyed taking service with IIFL 
                        Home Loans Team and feel truly honoured to be associated with 
                        IIFL Home Loans Team. I am looking forward to refer IIFL to 
                        my friends and family.
                    </p>
                    <div>
                        <h6 class="name-text mb-0 text-uppercase">Raghava reddy</h6>
                        <p class="designation-text">Manager at IBM</p>
                    </div>
                    <p class="slide-count mb-0">2/<span>10</span></p>
                </div>

                <div class="slide slide-1">
                    <div>
                        <img src="../../assets/images/profile-pics/pradeep-profilepic.svg" alt="pradeep"/>
                    </div>
                    <p class="intro">
                        I am Mr. Pradeep Kale. I really enjoyed taking service with IIFL 
                        Home Loans Team and feel truly honoured to be associated with 
                        IIFL Home Loans Team. I am looking forward to refer IIFL to 
                        my friends and family.
                    </p>
                    <div>
                        <h6 class="name-text mb-0 text-uppercase">Pradeep kale</h6>
                        <p class="designation-text">HR Executive at BPL</p>
                    </div>
                    <p class="slide-count mb-0">2/<span>10</span></p>   
                </div>

                <div class="slide slide-1">
                    <div>
                        <img src="../../assets/images/profile-pics/amrita-profilepic.svg" alt="amrita"/>
                    </div>
                    <p class="intro">
                        I am Mr. Amrita Rao. I really enjoyed taking service with IIFL 
                        Home Loans Team and feel truly honoured to be associated with 
                        IIFL Home Loans Team. I am looking forward to refer IIFL to 
                        my friends and family.
                    </p>
                    <div>
                        <h6 class="name-text mb-0 text-uppercase">amrita rao</h6>
                        <p class="designation-text">HR Executive at BPL</p>
                    </div>
                    <p class="slide-count mb-0">2/<span>10</span></p>
                </div>
            </div>
        </div>
    </div>
</div>