<div class="contactus">
    <h6 class="text-uppercase mb-4">Connect with us</h6>
    <div class="d-flex smedia-wrapper">
        <a href="" class="nav-link"><img src="../../assets/images/icons/facebook-icon.svg" alt="facebook"/></a>
        <a href="" class="nav-link"><img src="../../assets/images/icons/twitter-icon.svg" alt="twitter"/></a>
        <a href="" class="nav-link"><img src="../../assets/images/icons/linkdin-icon.svg" alt="linkdin"/></a>
        <a href="" class="nav-link"><img src="../../assets/images/icons/insta-icon.svg" alt="instagram"/></a>
        <a href="" class="nav-link"><img src="../../assets/images/icons/youtube-icon.svg" alt="youtube"/></a>
    </div>
</div>