<section class="moreoffer-wrapper">
    <div class="moreoffer-wrapper__content">
        <h2 class="com-title custom-container text-capitalize"><span>More</span> Offers</h2>
        
        <div class="slider-wrapper d-flex">
            <div class="loan-card">
                <h6 class="text-uppercase">Gold Loan</h6>
                <div class="d-flex align-items-end">
                    <p class="number-text me-2">0</p>
                    <h3 class="text-capitalize">Processing Charges</h3>
                </div>
                <p class="subheading">Offer till December 2019</p>
                <p class="com-para">Apply for personal loan through our mobile app</p>

                <img class="arrow-img" src="../../assets/images/icons/serachArrow-icon.svg" alt="icon"/>
                <div class="loan-card__img">
                    <img class="mb-5" src="../../assets/images/goldloancard-bg.svg" alt="gold"/>
                </div>
            </div>

            <div class="loan-card">
                <h6 class="text-uppercase">personal Loan</h6>
                <div class="d-flex align-items-end">
                    <p class="number-text me-2">7.1<span>%</span></p>
                    <h3 class="text-capitalize"></h3>
                </div>
                <p class="subheading">Interest rate</p>
                <p class="com-para">Exclusive offer for Government employees</p>

                <img class="arrow-img" src="../../assets/images/icons/serachArrow-icon.svg" alt="icon"/>
                <div class="loan-card__img personalloan-img">
                    <img src="../../assets/images/personalloancard-bg.svg" alt="personal loan"/>
                </div>
            </div>

            <div class="loan-card">
                <h6 class="text-uppercase">Vehicle Loan</h6>
                <div class="d-flex align-items-end">
                    <p class="number-text me-2">3</p>
                    <h3 class="text-capitalize">Months EMI Holiday</h3>
                </div>
                <p class="subheading">Offer till June 2019</p>
                <p class="com-para">Relieves you from the initial burden of EMIs</p>

                <img class="arrow-img" src="../../assets/images/icons/serachArrow-icon.svg" alt="icon"/>
                <div class="loan-card__img">
                    <img src="../../assets/images/vehicleloancard-bg.svg" alt="vehicle loan"/>
                </div>
            </div>

            <div class="loan-card">
                <h6 class="text-uppercase">SME Loan</h6>
                <div class="d-flex align-items-end">
                    <p class="number-text me-2">9<span>%</span></p>
                    <h3 class="text-capitalize"></h3>
                </div>
                <p class="subheading">Interest rate</p>
                <p class="com-para">Business Loan for Women starting at lower interest rates</p>

                <img class="arrow-img" src="../../assets/images/icons/serachArrow-icon.svg" alt="icon"/>
                <div class="loan-card__img">
                    <img class="SME-img" src="../../assets/images/smeloancrad-bg.svg" alt="SME loan"/>
                </div>
            </div>
        </div>
    </div>
</section>