$primary-font: 'Roboto';

/* color */
$primary-black: rgba(79, 83, 97, 1);
$orange: rgba(245, 110, 40, 1);
$footer-text:rgba(236, 236, 236, 1);

$nav-text: rgba(30, 28, 87, 1);

$grey: rgba(128, 128, 128, 1);


  
/* background color */
$bg-error: #D0F2FF;
$bg-orange: rgba(245, 110, 40, 1);

/* Linear bg color */
$linear-orange: gradient(250.21deg, #FFDCCA 21.8%, rgba(255, 254, 235, 0.84) 91.69%);


/* button hover color */
$purple-500: #4355cbe2;

/* border */
$border-primary: 1px solid rgba(145, 158, 171, 0.32);